

header {
  background-color: rgb(36, 36, 237);
  max-height: 50px;
  min-height: 48px;
  padding: 10px;
  padding-left: 30px;
  display: flex;
}

.logo:visited, .logo {
  color: #fff;
}

div.row {
  min-height: 60px;
  padding-left: none;
  background: #0678aa;
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #0678aa 50%, #92b511);
}


.logo {
  font-size: 26px;
  font-weight: bold;
}


header.buttons {
  display: flex;
  align-items: center;
}


.login,
.signup,
.logout {
  margin-right: 10px;
  padding: 8px 16px;
    border-radius: 4px;
}

.signup {
  background-color: #00aaff;
  color: #fff;

}

.buttons {
  margin-left: auto;
  flex-direction: column;
  flex-flow: row-reverse;
}